.birthproducts{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(49, 193, 193);
    gap: 15px;
    padding: 20px;
}
.birthcard:hover{
    border: black;



}
.birthfilter{
background-color: beige;
justify-content: start;
align-items: start;
margin-left: 2px;
margin-top: 50px;
/* padding: 20px; */
}
.price{
    padding: 10px;
    /* align-items: start; */
    justify-content: center;
    
}
.checkbox{
    padding: 5px;
}